<?xml version="1.0" encoding="utf-8"?>
<package-def>
	<module name="РеестрФикстур" file="РеестрФикстур.os"/>
	<module name="КаталогиПроекта" file="КаталогиПроекта.os"/>
	<module name="ИсходникБезКомментариев" file="ИсходникБезКомментариев.os"/>
	<module name="УникальныеИмена" file="УникальныеИмена.os"/>
	<module name="ПомощникиСтендов" file="ПомощникиСтендов.os"/>
	<module name="РеестрНастроекХаба" file="РеестрНастроекХаба.os"/>
	<module name="СоветНабора" file="СоветНабора.os"/>
</package-def>
